$yellow: #FFFF00;
$blue: #6699CC;
$lightgray: #9CB0C3;
$darkgrey: #708090;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "HelveticaNeue","Helvetica Neue", "HelveticaNeueRoman","HelveticaNeue-Roman",
        "Helvetica Neue Roman", "TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    font-size: 1.5vw;
    }

main {
    background-color: $darkgrey;
    color: white;

    img {
        align-self: center;
        width: 100%;
    }
}

article {
    display: grid;
    padding: 8%;
    grid-gap: 15px;
    grid-template-areas: 
        "ingress"
        "item-1"
        "item-2"
        "item-3"
        "button";

    .ingress {
        font-size: 2.2vw;
        grid-area: ingress;
    }

    #item-1 {
        grid-area: item-1;
    }
    
    #item-2 {
        grid-area: item-2;
    }
    
    #item-3 {
        grid-area: item-3;
    }

    /*Placeholder för riktig knapp*/
    .button {
        width: auto;
        padding: 8px;
        grid-area: button;
        text-align: center;
        background-color: $lightgray;
        border: solid 1px;
        border-radius: 10px;

        &:hover {
            background-color: $darkgrey;
            text-decoration: underline;
        }
    }
}

/* För iPhone 8 */
@media screen and (max-width: 414px) {
    article {
        .ingress {
            font-size: 6vw;
        }
    }

    .body-text {
        font-size: 4vw;
    }

    .button {
        font-size: 4vw;
    }

    img {
        display: none;
    }
}

/* För Laptop */
@media screen and (min-width: 415px) and (max-width: 1919px) {
    main {
        display: grid;
        grid-template-areas:
        "pic article";
    }

    img {
        grid-area: pic;
    }

    article {
        display: grid;
        grid-template-rows: auto;
        grid-template-areas:
        "ingress ingress ingress"
        "item-1 item-1 item-1"
        "item-2 item-2 item-2"
        "item-3 item-3 item-3"
        ". button .";
    }
}

/* För Desktop */
@media screen and (min-width: 1920px) {
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "pic article";
    }

    img {
        grid-area: pic;
    }

    article {
        display: grid;
        grid-column-gap: 50px;
        grid-template-rows: auto;
        grid-template-areas:
        "ingress ingress"
        "item-1 item-2"
        "item-3 button";
    }

    .button {
        height: fit-content;
        align-self: end;
    }
}