$yellow: #FFFF00;
$blue: #6699CC;
$lightgray: #9CB0C3;
$darkgrey: #708090;

/* Globalt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "HelveticaNeue","Helvetica Neue", "HelveticaNeueRoman","HelveticaNeue-Roman",
        "Helvetica Neue Roman", "TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}

main {
    background-color: $darkgrey;
    color: white;
}

/* ARTIKEL*/
article {
    margin: 20px;

    .ingress {
        font-size: 32px;
        grid-area: ingress;
        padding: 35px;
    }

    .bodyText {
        font-size: 14px;
        padding: 35px;
        text-align: left;
    }
}

/* BYT UT till riktig SCSS för knapp */
.button {
    width: auto;
    padding: 8px;
    grid-area: button;
    text-align: center;
    background-color: $lightgray;
    border: solid 1px;
    border-radius: 10px;
    margin: 15px;

    &:hover {
        background-color: $darkgrey;
        text-decoration: underline;
    }
}