$color-primary: rgba(255, 238, 0, 0.706); // yellow color for heading.
$yellow: #FFFF00;
$blue: #6699CC;
$lightgray: #9CB0C3;
$darkgrey: #708090;

@mixin margintop6 {
    margin-top: 6%;
}

@mixin marginauto {
    margin-left: auto;
    margin-right: auto;
}

@mixin width80 {
    width: 80%;
}

.imgContact {
    @include marginauto;
    @include margintop6;
    @include width80;

    display: grid;
    align-self: center;
    height: 550px;

}

.imgContact.open {
    display: none;
}

.infoField {
    @include marginauto;
    @include width80;

    display: grid;
    align-self: center;
    background-color: $lightgray;
    padding: 2% 4%;
    color: #FFFFFF;

    h2 {
        margin-top: 2.5%;
    }

    p {
        font-size: 1.5vw;
    }
    a {
        text-decoration: none;
        color: $darkgrey;
        &:hover {
            text-decoration: underline;
            color: $blue;
        }
    }
}

// FORM STYLING
fieldset{
    border: none;
    width: 80%;
    margin: 20px auto 0 auto;
}

form {
    background-color: $lightgray;
    width: 80%;
    margin: 20px auto 0 auto;
}

legend{
    text-align: center;
    font-size: 7vw;
    font-weight: 700;
}

input{
    display: block;
    width: 60%;
    margin: 2% auto;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 1%;
}

textarea {
    display: block;
    width: 60%;
    margin: 2% auto;
    height: 65px;
    border-radius: 8px;
    border: none;
    padding: 1%;
}

.submitBtn{
    background-color: $darkgrey;
    border: none;
    border-radius: 8px;
    width: 12%;
    height: 25px;
    margin: 0 auto 20px auto;

    &:hover{
        transition: all .4s ease;
        box-shadow: 1px 2px $darkgrey;
        background-color: $blue;
    }
}


// GOOGLE MAPS
iframe {
    @include marginauto;
    @include margintop6;

    display: block;
    width: 70%;
    height: 600px;
    margin-bottom: 6%;
}

// DESKTOP 1920x1080p LAPTOP 1280x900p IPHONE8 414x736p

@media screen and (max-width: 650px) {

    .imgContact {
        display: none;
    }



    iframe {


    }
}