$color-primary: rgba(255, 238, 0, 0.706); // yellow color for heading.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
}

html {
    font-size: 10px;
}

body {
    font-family: lato;
    font-weight: 400px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 30vh;
    background-color: $color-primary;
    position: relative;
    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .heading-primary {
            color: black;
            text-transform: uppercase;
            &-main {
                display: block;
                font-size: 6rem;
                font-weight: 700;
                letter-spacing: 2rem;
                animation-name: movetoleft;
                animation-duration: 3s;
                animation-timing-function: ease-out;
            }
            &-sub {
                display: block;
                font-size: 2vw;
                font-weight: 700;
                letter-spacing: 0.5rem;
                animation-name: movetoright;
                animation-duration: 3s;
                animation-timing-function: ease-out;
            }
        }
    }
}

//add animation to heading 
@keyframes movetoleft {
    0% {
        opacity: 0;
        transform: translatex(-100px);
    }
    80% {
        transform: translatex(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movetoright {
    0% {
        opacity: 0;
        transform: translatex(100px);
    }
    80% {
        transform: translatex(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}