
$blue: #6699CC;
$darkgrey: #708090;
$lightgray: #9CB0C3;

.light {
    color: #FFF;
}

.lighter {
    color: $lightgray;
}

.main-card {

    margin: 40px auto 0 auto;

    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(1);
        grid-template-columns: repeat(1, 1fr);

        p {
            padding: 0 20px;
            color: #777;
            font-size: 2rem;
        }
    }

.publications {

    margin: 0 auto 40px auto;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(2);
        grid-template-columns: repeat(2, 1fr);

    .wrapped {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}

.card-content h3,p {
    color: black;
    padding: 0;
    margin: 0;
}

.card-content ul {
    list-style-type: none;
}

.parallel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.publications .wrapped img {
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 0;
    margin: auto;
    object-fit: fill;
}

/* Visa fler button */
.show-more {
    grid-column-start: 2 !important;
    margin: 25px auto !important;
}

.filter {
    background-color: $lightgray;
    padding: 20px 10px;
    margin: 0 auto 40px auto;
    border-radius: 12px;
    width: 80%;
    display: -ms-grid;
    display: grid;
    border-radius: 0 0 12px 12px;
    -ms-grid-columns: (1fr)(3);
        grid-template-columns: repeat(3, 1fr);
}

.filter div {
    display: flex;
    flex-direction: column;
}

.filter-title {
    font-weight: bold;
    background-color: $lightgray;
    border-radius:12px 12px 0 0;
    padding: 20px 20px 0 20px;
    width: 80%;
    color: white;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter div a {
    padding-left: 20px;
}

@media screen and (min-width: 551px) and (max-width: 1400px) {
    .card-content h3,p {
        font-size: 18px !important;
    }

    .filter div h3 {
        font-size: 18px !important;
    }

    .filter-title {
        font-size: 18px !important;
    }

    .filter div {
        margin: auto;
    }

    .parallel {
        width: 100%;
    }

    .publications .wrapped img {
        margin: 20px auto;
    }

    .card .card-content {
        padding: 0 6% 20px 6%!important;
    }

    .filter {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .publications {
        grid-template-columns: 1fr;
    }

    .card-content h3,p {
        font-size: 18px !important;
    }

    .filter div h3 {
        font-size: 18px !important;
    }

    .filter-title {
        font-size: 18px !important;
        width: 100%;
        border-radius: 0;
    }

    .parallel {
        width: 100%;
    }

    .publications .wrapped img {
        margin: 20px auto;
        width: 70%;
        height: 60%;
        border: none;
        object-fit: contain;
    }

    .card .card-content {
        padding: 0 6% 20px 6%!important;
    }

    .show-more {
        grid-column-start: 1 !important;
    }
    
    .filter {
        grid-template-columns: 1fr;
    }

    .main-card, .publications, .filter {
        width: 100%;
        border-radius: 0;
    }
}