$yellow: #FFFF00;
$blue: #6699CC;
$lightgray: #9CB0C3;
$darkgrey: #708090;
$white: #FFFFFF;

* {

margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 1.5;
font-family: "HelveticaNeue","Helvetica Neue", "HelveticaNeueRoman","HelveticaNeue-Roman",
"Helvetica Neue Roman", "TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
font-size: 1.5vw;
}

@mixin gridme {
    display: grid;
}

@mixin gridtwobytwo {
    @include gridme;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

@mixin gridsinglecolumn {
    @include gridme;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}

@mixin marginleft {
    margin-left: 5%;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p {
    @include marginleft;
    font-size: 1.6vw;
    margin-bottom: 5%;

}

h2 {
    @include marginleft;
    font-size: 2.2vw;
    margin-top: 5%;
}

#pVerk {
    grid-area: pVerk;
}

#verksamhet {
    text-align: center;
    background-color: $darkgrey;
    color: $white;
    display: grid;
}

//alternating patterns

#yrkesHogskolan { //imgleft
    @include gridtwobytwo;

    grid-template-areas: 
    "ImgYh h2Yh"
    "ImgYh pYh";
    background-color: $yellow;
    
    #imgYh {
        grid-area: imgYh;
    }

    #h2YH {
        grid-area: h2Yh;
    }

    #pYh  {
        grid-area: pYh;
    }
}

#konstKultur { //imgright
    @include gridtwobytwo;

    grid-template-areas:
    "h2Kk imgKk"
    "pKk imgKk";
    background-color: $lightgray;

    #h2Kk {
        grid-area: h2Kk;
    }

    #pKk {
        grid-area: pKk;
    }

    #imgKk {
        grid-area: imgKk;
    }
}

#tolkUtbildningar { //imgtop
    @include gridsinglecolumn;

    grid-template-areas:
    "imgTolk"
    "h2Tolk"
    "pTolk";
    background-color: $blue;

    #imgTolk {
        grid-area: ImgTolk;
        min-width: 100%;
        max-height: 650px;
    }

    #h2Tolk {
        grid-area: h2Tolk;
    }

    #pTolk {
        grid-area: pTolk;
    }
}

#utbildningarTillsyn { //imgleft
    @include gridtwobytwo;
    
    grid-template-areas: 
    "imgEt h2Et"
    "imgEt pEt";
    background-color: $yellow;

    #imgEt {
        grid-area: imgEt;
    }

    #h2Et {
        grid-area: h2Et;
    }

    #pEt {
        grid-area: pEt;
    }
}

#seqf { //imgright
    @include gridtwobytwo;

    grid-template-areas: 
    "h2Seqf imgSeqf"
    "pSeqf imgSeqf";
    background-color: $blue;

    #h2Seqf {
        grid-area: h2Seqf;
    }

    #pSeqf {
        grid-area: pSeqf;
    }

    #imgSeqf {
        grid-area: imgSeqf;
    }

}

#validering { //imgtop
    @include gridsinglecolumn;

    grid-template-areas: 
    "imgValid"
    "h2Valid"
    "pValid";
    background-color: $lightgray;

    #imgValid {
        grid-area: imgValid;
        min-width: 100%;
        max-height: 650px;
    }

    #h2Valid {
        grid-area: h2Valid;
    }

    #pValid {
        grid-area: pValid;
    }
    
}

article {
    margin-top: 6%;

  a {
    color: black;
    text-decoration: none;;
    
    &:hover {
    color: $blue;
    text-decoration: underline;
    }
  }
}