* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 1.5vw;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

p {
  margin-left: 5%;
  font-size: 1.6vw;
  margin-bottom: 5%;
}

h2 {
  margin-left: 5%;
  font-size: 2.2vw;
  margin-top: 5%;
}

#pVerk {
  grid-area: pVerk;
}

#verksamhet {
  text-align: center;
  background-color: #708090;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
}

#yrkesHogskolan {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "ImgYh h2Yh" "ImgYh pYh";
  background-color: #ffff00;
}

#yrkesHogskolan #imgYh {
  grid-area: imgYh;
}

#yrkesHogskolan #h2YH {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h2Yh;
}

#yrkesHogskolan #pYh {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pYh;
}

#konstKultur {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "h2Kk imgKk" "pKk imgKk";
  background-color: #9cb0c3;
}

#konstKultur #h2Kk {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h2Kk;
}

#konstKultur #pKk {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pKk;
}

#konstKultur #imgKk {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: imgKk;
}

#tolkUtbildningar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "imgTolk" "h2Tolk" "pTolk";
  background-color: #6699cc;
}

#tolkUtbildningar #imgTolk {
  grid-area: ImgTolk;
  min-width: 100%;
  max-height: 650px;
}

#tolkUtbildningar #h2Tolk {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: h2Tolk;
}

#tolkUtbildningar #pTolk {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pTolk;
}

#utbildningarTillsyn {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "imgEt h2Et" "imgEt pEt";
  background-color: #ffff00;
}

#utbildningarTillsyn #imgEt {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imgEt;
}

#utbildningarTillsyn #h2Et {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h2Et;
}

#utbildningarTillsyn #pEt {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pEt;
}

#seqf {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "h2Seqf imgSeqf" "pSeqf imgSeqf";
  background-color: #6699cc;
}

#seqf #h2Seqf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h2Seqf;
}

#seqf #pSeqf {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pSeqf;
}

#seqf #imgSeqf {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: imgSeqf;
}

#validering {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "imgValid" "h2Valid" "pValid";
  background-color: #9cb0c3;
}

#validering #imgValid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imgValid;
  min-width: 100%;
  max-height: 650px;
}

#validering #h2Valid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: h2Valid;
}

#validering #pValid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pValid;
}

article {
  margin-top: 6%;
}

article a {
  color: black;
  text-decoration: none;
}

article a:hover {
  color: #6699cc;
  text-decoration: underline;
}
/*# sourceMappingURL=verksamhetsomraden.css.map */