.box {
    color: #3b3b3b;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.box-text {
    padding: 10px;
}

.box-green {
    background-image: linear-gradient(-60deg, #9CB0C3 50%, #00c84e 50%);
    opacity: .6;
    bottom:0;
    left:-110%;
    right:-110%;
    top:0;
    z-index:-1;
}

.box-yellow {
    background-image: linear-gradient(-60deg, #9CB0C3 50%, #FFFF00 50%);
    opacity: .6;
    bottom:0;
    left:-110%;
    right:-110%;
    top:0;
    z-index:-1;
}

.box-gray {
    background-image: linear-gradient(-60deg, #9CB0C3 50%, #6699CC 50%);
    opacity: .6;
    bottom:0;
    left:-110%;
    right:-110%;
    top:0;
    z-index:-1;
}

.box-animation {
    position: absolute;
    transition: 1s ease;

}

.box:hover .box-animation {
    transform: translateX(25%);
}