* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* #hem {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hem;
}

* #om-oss {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: omoss;
}

* #verksamhet {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: verksamhet;
}

* #lagar {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lagar;
}

* #statistik {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: statistik;
}

* #nyheter {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nyheter;
}

* #kontakt {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: kontakt;
}

* #publikationer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: publikationer;
}

nav {
  position: relative;
}

nav .hamburger {
  position: fixed;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

nav .hamburger .line {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
}

nav .nav-links {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hem hem" "omoss omoss" "verksamhet verksamhet" "kontakt kontakt" "publikationer publikationer" "lagar lagar" "statistik statistik" "nyheter nyheter";
  grid-auto-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  gap: 40px;
  position: fixed;
  background: white;
  height: 100vh;
  width: 100%;
  -webkit-clip-path: circle(100px at 90% -20%);
          clip-path: circle(100px at 90% -20%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

nav .nav-links ul {
  list-style: none;
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

nav .nav-links ul li a {
  color: black;
  background-color: yellow;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-box-shadow: black;
          box-shadow: black;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 gray;
          box-shadow: 0 4px 8px 0 gray;
}

nav .nav-links ul li a:hover {
  -webkit-box-shadow: 0 8px 8px 0 gray;
          box-shadow: 0 8px 8px 0 gray;
}

nav .nav-links.open {
  -webkit-clip-path: circle(1600px at 90% -10%);
          clip-path: circle(1600px at 90% -10%);
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  nav .nav-links {
        grid-template-areas: "hem omoss verksamhet" "kontakt omoss verksamhet" "publikationer omoss verksamhet" ". omoss verksamhet" "lagar statistik nyheter" "lagar statistik nyheter" "lagar statistik nyheter";
  }
}
/*# sourceMappingURL=menu.css.map */