* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
}

html {
  font-size: 10px;
}

body {
  font-family: lato;
  font-weight: 400px;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 30vh;
  background-color: rgba(255, 238, 0, 0.706);
  position: relative;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header .text-box .heading-primary {
  color: black;
  text-transform: uppercase;
}

.header .text-box .heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2rem;
  -webkit-animation-name: movetoleft;
          animation-name: movetoleft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header .text-box .heading-primary-sub {
  display: block;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.5rem;
  -webkit-animation-name: movetoright;
          animation-name: movetoright;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes movetoleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100px);
            transform: translatex(-100px);
  }
  80% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes movetoleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100px);
            transform: translatex(-100px);
  }
  80% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes movetoright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(100px);
            transform: translatex(100px);
  }
  80% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes movetoright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(100px);
            transform: translatex(100px);
  }
  80% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=nyhetsrun.css.map */