.light {
    color: #FFF;
}

.lighter {
    color: #DADADA;
}

.link {
    text-decoration: none;
    color: #4B4D52;
}

.fler {
    font-size: 24px;
}

filter {
    text-decoration: none;
}

.main-card {
    background-color: #9CB0C3;
    margin: 0 auto;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
}

.publications {
    background-color: #9CB0C3;
    margin: 0 auto;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
}
.parallel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.wrapped {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.publications .wrapped img {
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 0;
    margin: auto;
}

/* Button */
.fler {
    color: #000;
    background-color: #ffff00;
    border: none;
    text-align: center;
    font-size: 24px;
    display: block;
    padding: 40px;
    margin: 40px auto;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fler span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.fler span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    left: 100%;
}

.fler:hover span {
    padding-right: 40px;

}

.fler:hover span:after {
    opacity: 1;
    right: 0;
}
