* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: lato;
  font-weight: 400px;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 30vh;
  background-color: rgba(255, 238, 0, 0.706);
  position: relative;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header .text-box .heading-primary {
  color: black;
  text-transform: uppercase;
}

.header .text-box .heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2rem;
  -webkit-animation-name: movetoleft;
          animation-name: movetoleft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header .text-box .heading-primary-sub {
  display: block;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 0.5rem;
  -webkit-animation-name: movetoright;
          animation-name: movetoright;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes movetoleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100px);
            transform: translatex(-100px);
  }
  80% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes movetoleft {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-100px);
            transform: translatex(-100px);
  }
  80% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes movetoright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(100px);
            transform: translatex(100px);
  }
  80% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes movetoright {
  0% {
    opacity: 0;
    -webkit-transform: translatex(100px);
            transform: translatex(100px);
  }
  80% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.row {
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 8rem;
  list-style-type: none;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1,
.row .col-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1,
.row .col-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}

.row .text-heading {
  font-size: 2.6rem;
  font-weight: 700;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

.row .par-1 {
  font-size: 2rem;
  margin-left: 1.5rem;
  line-height: 2.5rem;
  padding-top: 2rem;
}

.row .par-2 {
  margin-left: 1.5rem;
  padding-top: 2rem;
}

.row .article-2 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.row .article-2 .fact-list {
  list-style-type: none;
}

.row .article-2 .fact-list .link {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.row .article-2 .fact-list .link:hover {
  color: blue;
}

.row .article-3 {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.row .article-3 .reports-list {
  list-style-type: none;
}

.row .article-3 .reports-list .link {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.row .article-3 .reports-list .link:hover {
  color: blue;
}

.row .main-image {
  position: relative;
  top: 9rem;
}

.row .main-image .image1 {
  width: 95%;
  -webkit-clip-path: polygon(100% 0%, 81% 52%, 100% 100%, 25% 100%, 0 51%, 25% 0%);
          clip-path: polygon(100% 0%, 81% 52%, 100% 100%, 25% 100%, 0 51%, 25% 0%);
  -webkit-box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.5);
}

@media only screen and (max-width: 1023px) {
  .row {
    margin-top: 5rem;
  }
  .row .col-1,
  .row .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 518px) {
  .row .text-heading {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=statistik.css.map */