
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 200px auto;
}

.auto-slider {
    width: 720px; //change to 1440px to see two pictures/two cards
    height: 360px;
    overflow-x: hidden;
}

.auto-slider img {
    display: block;
}

.auto-slider-content {
    list-style: none;
    display: flex;
    position: relative;
    animation-name: slide-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.auto-slider-content:hover, .auto-slider-content:focus {
    animation-play-state: paused;
}

/*.slider-button {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}*/

@keyframes slide-animation {
    10% {
        transform:translateX(0);
    }
    30% {
        transform:translateX(-720px);
    }
    50% {
        transform:translateX(-1440px);
    }
    70% {
        transform:translateX(-2160px);
    }
    90% {
        transform:translateX(0);
    }
}

